NODE_ENV=
PORT=
DATABASE_URL=
ROBINHOOD_CHAIN_RPC_URL=
ROBINHOOD_CHAIN_ID=
REWARD_POOL_PRIVATE_KEY=
REWARD_POOL_PUBLIC_KEY=
PONS_TOKEN_ADDRESS=
JWT_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_URL=
